@import "../colors";

#editables-preview-container {
  height: 100%;
  margin-left: 250px;
  #editables-preview {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    background: rgb(247, 247, 241);
    transition: all 0.11s ease-in-out;
    overflow: auto;
    h1,
    h2,
    h3 {
      font-family: $sans-serif;
    }
    &.droppable {
      background: rgb(221, 231, 241);
    }
    .e-element {
      min-height: 40px;
      padding: 10px;
      border: 1px solid rgb(222, 222, 222);
      margin-bottom: 5px;
      transition: background 0.11s ease-in-out;
      &.e-section {
        border-width: 2px;
      }
      &.e-col {
        border-style: dashed;
      }
      &.droppable {
        background: rgb(221, 231, 241);
      }
      &.undroppable {
        background: rgb(234, 234, 234);
        border-color: rgb(244, 168, 168);
      }
      &.units-row {
        .col {
          min-height: 40px;
          text-align: center;
          border: 1px dashed rgb(222, 222, 222);
        }
      }
      &.sticky {
        background: rgb(214, 214, 214);
      }
      &.edit {
        background: rgb(250, 250, 250);
      }
      &:hover,
      &:active,
      &:focus {
        border-color: rgb(121, 121, 222);
      }
    }
  }
}

@import "contextual";