#editables-preview-container {
  height: 100%;
  margin-left: 250px;
  #editables-preview-header {
    position: relative;
    background: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    z-index: 10;
    h2 {
      margin: 0;
      color: inherit;
      line-height: 34px;
    }
  }
  #editables-preview {
    margin-top: -50px;
    padding: 60px 10px 0 10px;
    height: 100%;
    box-sizing: border-box;
    background: rgb(247, 247, 241);
    transition: background 0.11s ease-in-out;
    overflow: auto;
    &.droppable {
      background: rgb(221, 231, 241);
    }
    .e-element {
      border: 1px solid rgb(222, 222, 222);
      margin-bottom: 5px;
      min-height: 40px;
      &.droppable {
        transition: background 0.11s ease-in-out;
        background: rgb(221, 231, 241);
      }
    }
  }
}