@import "../colors";
@import "../variables";

#editables-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  background: $theme-dark;
  color: $theme-light;
  header {
  	h2 {
  		color: inherit;
  	}
  }
  .e-model {
    height: $sidebar-model-height;
    line-height: $sidebar-model-height;
    text-align: center;
    background: $theme-light;
    color: $theme-dark;
    border: 3px solid darken($theme-light, 8);
  }
}

@import "containers/model-div";